{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}

<div class="container transparent-container" id="home">
	<div class="row col-wrap">			 
		<div id="left_container" class="col col-md-4 col-sm-12 col-lg-4">
			<nav id="main_nav">
				<ul class="nav">
					<li><a href={% url 'account' %}>Home</a></li>
					<li><a href={% url 'manage1' %}>Change Password</a></li>
					<li><a href={% url 'manage3' %}>Authorized Social Media</a></li>
					<li><a href={% url 'manage2' %}>Manage My Details</a></li>
					<li><a href={% url 'account' %}>Other services</a></li>
				</ul>
			</nav>
		</div>
		<div id="right_container" class="col col-md-8 col-sm-12 col-lg-8">
			{% block account_block %}{% endblock %}
		</div>
	</div>
	<footer class="row credit">
		<div class="col col-md-12">
			<div id="templatemo_footer">
				Copyright © 2084 <a href="#">Company Name</a>
			</div>
		</div>
	</footer>
</div>		
{% endblock %}
