{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}

<div class="container transparent-container" id="home">
	<!-- <button class="button button1"><span class="glyphicon glyphicon-home"></span>My Home</button> -->
	<div class="row col-wrap">			 
		<div id="left_container" class="col col-md-4 col-sm-12 col-lg-4">
			<!-- <div class="templatemo_logo"> -->
				<!-- <a href="#"><img src="../static/img/templatemo_logo.png" alt="Botany Theme"></a> -->
			<!-- </div> -->
			<nav id="main_nav">
				<ul class="nav">
					<li><a href="/social_analytics/account">Home</a></li>
					<li><a href="/social_analytics/manage1">Change Password</a></li>
					<li><a href="/social_analytics/manage3">Authorized Social Media</a></li>
					<li><a href="/social_analytics/manage2">Manage My Details</a></li>
					<li><a href="/social_analytics/manage2">Other services</a></li>
				</ul>
			</nav> <!-- nav -->
			<!-- <div> -->
				<!-- <a href="#"><img src="../static/img/fb.png" alt="Like us on Facebook"></a> -->
				<!-- <a href="#"><img src="../static/img/tw.png" alt="Follow us on Twitter"></a> -->
			<!-- </div> -->
		</div>
		<div id="right_container" class="col col-md-8 col-sm-12 col-lg-8">
			{% block account_block %}{% endblock %}
		</div>
	</div>
	<footer class="row credit">
		<div class="col col-md-12">
			<div id="templatemo_footer">
				Copyright © 2084 <a href="#">Company Name</a>
			</div>
		</div>
	</footer>
</div>		
{% endblock %}
