{% load static %}
<html>
<!-- this page includes the top level menu bar and the background img for all pages  -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
        <title>Social Media Analytics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		
		<!-- css -->
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}?v=00001"  type="text/css">
		<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}?v=00001" type="text/css">
		<!-- other css -->
        <!-- <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}?v=00001" type="text/css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}?v=00001" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}?v=00001" type="text/css">
		<link rel="stylesheet" href="{% static 'css/lightbox.css' %}?v=00001" type="text/css">
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}?v=00001" type="text/css" media="screen" />
		<!-- our css -->
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}?v=00001" type="text/css">
		<link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}?v=00001" type="text/css">
		<link rel="stylesheet" href="{% static 'css/project.css' %}?v=00001" type="text/css">
		
		<!-- js -->
		<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
		<script src="https://connect.facebook.net/en_US/all.js"></script>

		<!-- D3.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    </head>

<body>

	<div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href={% url 'index' %} class="navbar-brand"><em>S-</em>analysis</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="scroll-top" href={% url 'index' %}>Home</a></li>
                        <li><a class="scroll-link" data-id="contact-us">Contact Us</a></li>
						{% if user.is_authenticated %}
							<li>
								<a class="scroll-link" href={% url 'account' %}>My Account</a>
							</li>
							<li>
							<a class="scroll-link" href={% url 'data' %}>My Analysis</a>
							</li>
							<li>
								<a class="scroll-link" href={% url 'twitter_logout' %}>Log out</a>
							</li>
						{% else %}
							<li>
								<a class="scroll-link" href={% url 'login' %}>Login/Sign up</a>
							</li>
						{% endif %}
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->
	
	<div class="parallax-content baner-content" id="home">
        {% block content_block %}{% endblock %}
    </div>

	<div class="index_page">
	{% block index_block %}{% endblock %}
	</div>
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/vendor/bootstrap.min.js"></script>

    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>