<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
        <title>Social Media Analytics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		
		<!-- css -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css" type="text/css">
        <link rel="stylesheet" href="../static/css/hero-slider.css" type="text/css">
        <link rel="stylesheet" href="../static/css/owl-carousel.css" type="text/css">
        <link rel="stylesheet" href="../static/css/templatemo-style.css" type="text/css">
        <link rel="stylesheet" href="../static/css/lightbox.css" type="text/css">
		<!-- js -->
        
    </head>

<body>
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand scroll-top"><em>T</em>inker</a>
				</div>
				<!--/.navbar-header-->
				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#" class="scroll-link" data-id="contact-us" >Username</a></li>
					</ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<!--/.navbar-->
		</div>
		<!--/.container-->
	</div>
	
	<div class="parallax-content baner-content col-lg-10" id="home">
        <div class="container media">
          <ul class="form" style="float:right">
			<li><a class="profile" href="#" style="background-image:url(../static/img/fb.png); background-size:contain;"></a></li>
			<li><a class="messages" href="#" style="background-image:url(../static/img/tw.png); background-size:contain;"></a></li>
			<li><a class="settings" href="#" style="background-image:url(../static/img/re.png); background-size:contain;"></a></li>
			<li><a class="logout" href="#" style="background-image:url(../static/img/tu.png); background-size:contain;"></a></li>
		  </ul>
        </div>
    </div>

	<!-- vertical menu -->
	<div class="col-lg-2" id="media-nav">
		
	</ul>
	</div>

	<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px;">
		<div class="container nav-box" style="width: 40%; background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
			<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav bottom-nav">
				<li><a href="#">Data1</a></li>
				<li><a href="#">Data2</a></li>
				<li><a href="#">Data3</a></li>
				<li><a href="#">Data4</a></li>
			  </ul>
			</div>
		</div>
	</nav>

</body>
</html>