{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<div id="navbar-test">
	<ul class="form" style="float:left; margin-top: 50px;">
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'data' %}>Personality</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'tone_analysis' %}>Tone Analysis</a></li>
		<li class="data-leftnav" id="#keywords"><a class="data-leftnav-link" href={% url 'keywords' %}>Words Use</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'social_network' %}>Social Network</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'time_heatmap' %}>Life Pattern</a></li>
	</ul>
</div>

{% block data_content_block %}{% endblock %}

{% endblock %}