{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
    <div class="container">
		<!-- Title -->
		<div class="col-md-12 padding-top-15">
            <h1 class="margin-bottom-15">Forget Password</h1>
            <form class="form-horizontal Hou-forgot-password-form Hou-container" role="form" action="#" method="post">
                <!-- Description -->
                <div class="form-group">
                    <div class="col-md-12">
                        Please enter your email address and we will send you an email about how to reset your password.
                    </div>
                </div>
                <!-- Input email -->
		        <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <!-- Submit button and Back to login -->
		        <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-danger">
                        <p class="pull-right padding-top-15"><a href={% url "login" %}> Back to Login</a></p>
                    </div>
                </div>
            </form>
        </div>
	</div>
{% endblock %}