{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<style>
#chart {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: #4c4c4c;
	fill: #4c4c4c;
	text-align: center;
	cursor: default;
}
a,
a:hover {
	color: #333333;
}
.title {
	font-family: 'Oswald', sans-serif;
	color: WHITE;
	text-align: left;
}
#topTitle {
	font-size: 36px;
	line-height: 1.2;
}
#subTitle {
	text-align: left;
	margin-bottom: 20px;
	font-size: 16px;
	color: WHITE;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
#topText{
	text-align: left;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 11px;
	/*margin-bottom: 10px;*/
	line-height: 1.5;
	color: #7D7D7D;
}
#searchTitle {
	font-size: 20px;
	margin-bottom: 10px;
}
.form-control {
	font-size: 11px;
	font-family: 'Merriweather Sans', sans-serif;
}
.dropdown-menu {
	font-size: 11px;
	font-family: 'Merriweather Sans', sans-serif;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus  {
	background-color: #7D7D7D;
}
#legendTitle {
	text-align: left;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5px;
	font-size: 13px;
	color: #1c1c1c;
}
#legendText {
	text-align: left;
	margin-bottom: 10px;
	font-size: 10px;
	line-height: 1.5;
	font-family: 'Merriweather Sans', sans-serif;
	color: #7D7D7D;
}
.legendCircle {
	stroke-width:1;
	stroke:#757575;
	stroke-dasharray:2 2;
	fill:none;
}
.legendLine {
	stroke-width: 1;
	stroke: #E0E0E0;
	shape-rendering: crispEdges;
}
.legendTitle {
	fill: #333333;
	font-family: 'Oswald', sans-serif;
	text-anchor: middle;
	font-size: 14px;
}
.legendSubTitle {
	color: #BFBFBF;
	text-anchor: middle;
	font-size: 10px;
	line-height: 1.2;
	font-family: 'Merriweather Sans', sans-serif;
}
.legendText {
	text-anchor: start;
	font-size: 9px;
}
#attribution {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 12px;
	/*bottom: 0px;
	position: fixed;*/
	color: #bfbfbf;
	font-family: 'Merriweather Sans', sans-serif;
}
@media (min-width: 768px) {
	#loadText {
		font-size: 24px;
		top:40%;
	}
}
.nodeTooltip {
	color: #333333;
	font-family: 'Oswald', sans-serif;
	text-anchor: middle;
	font-size: 12px;
	text-align: center;
}
.popover{
	text-align: center;
	pointer-events: none;
}
</style>

<div id="navbar-test">
	<ul class="form" style="float:left; margin-top: 50px;">
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'data' %}>Personality</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'tone_analysis' %}>Tone Analysis</a></li>
		<li><a style="background: #efefef; border-left:6px solid RED; color: BLACK;" class="active" href={% url 'keywords' %}>Words Use</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'social_network' %}>Social Network</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'time_heatmap' %}>Life Pattern</a></li>
	</ul>
</div>

<div class="row text-center" style="margin-top: 40px;">
	<div class="col-lg-8">
		<div id="chart"></div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">			
			<select id="searchBox" class="combobox input-large form-control" style="display: none;" onchange="searchEvent(this.value)">
				 <option value="" selected="selected">Search...</option>
			</select>
		</div>
	</div>
</div>

<!-- vertical menu -->
<div class="col-lg-2" id="media-nav">
	
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px; ">
	<div class="container nav-box col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
		<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav bottom-nav">
			<li><a href={% url 'keywords' %}>Keywords Extraction</a></li>
			<li><a href={% url 'bubble' %}>Word Cloud</a></li>
			<li><a href={% url 'bubble' %}>Hashtags Analysis</a></li>
		  </ul>
		</div>
	</div>
</nav>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../static/js/bootstrap-combobox.js"></script>
<script type="text/javascript" src="../static/js/control.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="../static/js/multiPackedCircles.js"></script>
<script>
{% autoescape off %}
var node_data = {{node_data}};
var data_with_values = {{data_with_values}};
var id_by_name = {{id_by_name}};
{% endautoescape %}

drawAll(data_with_values, id_by_name, node_data); 

</script>
{% endblock %}