{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}

<div id="status">
</div>

	<div class="container">
        <!-- Title -->
        <div class="col-md-12">
            <h1 class="margin-bottom-15">Log in to MH</h1>
            <h3 class="margin-bottom-15">New to MH?<a href={% url 'signup' %}> Sign up</a></h3>
            <form class="form-horizontal Hou-container Hou-login-form margin-bottom-30" role="form" action="#" methond="past">
                <!-- Username -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="control-wrapper">
                            <label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                    </div>
                </div>
				<!-- Password -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="control-wrapper">
                            <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                </div>
                <!-- Log in button and Forget password -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="control-wrapper change-color">
                            <input type="submit" value="Log in" class="btn btn-info pull-left">
                            <a href={% url 'forgetPw' %} class="foget text-right pull-right padding-top-15">Forgot password?</a>
                        </div>
                    </div>
                </div>

                <!-- Log in with social media -->
                <div class="Hou-demonstration text-align-center">
                    <label class="">You can also log in with your social media account.</label>
                    <div class="other-sign-in">
                        <a class="btn btn-block btn-social btn-facebook margin-bottom-15" href="{% url 'social:begin' 'facebook' %}"> 
                            <i class="fa fa-facebook"></i> Log in with Facebook
                        </a>
						<a class="btn btn-block btn-social btn-twitter margin-bottom-15" href="{% url 'social:begin' 'twitter' %}">
                            <i class="fa fa-twitter"></i> Log in with Twitter
                        </a>
                        <a class="btn btn-block btn-social btn-reddit margin-bottom-15">
                            <i class="fa fa-reddit"></i> Log in with Reddit
                        </a>
                        <a class="btn btn-block btn-social btn-tumblr margin-bottom-15" href="{% url 'social:begin' 'tumblr' %}">
                            <i class="fa fa-tumblr"></i> Log in with Tumblr
                        </a>
                        <a class="btn btn-block btn-social btn-google-plus">
                            <i class="fa fa-google-plus"></i> Log in with Google
                        </a>
                    </div>
                </div>
            </form>
        </div>
	</div>
</script>
{% endblock %}