{% extends 'account-base.html' %}

{% load staticfiles %}

{% block account_block %}
<div class="row" style="height:500px;">
	<!-- connected accounts -->
	<div class="col col-md-12">
		<h2 class="heading-line" style="text-align:left; margin-top: 5px; margin-bottom:5px;">Authorized Social Media Accounts</h2>
		<hr>
		<div class="media account-card col-md-5">
			<div class="media-left">
				<!-- <img src="../static/img/profile.jpg" class="media-object" style="width:60px"> -->
				<img src="https://twitter.com/{{user.username}}/profile_image?size=bigger" class="media-object" style="width:60px; height:60px;">
				<div class="social-box">
					<img src="../static/img/re.png" style="border-radius:5px;">
				</div>
			</div>
			<div class="media-body">
				<h4 class="media-heading" style="text-align:left;">{{user.username}}</h4>
				<p>Linked date: 2017-03-31</p>
				<div class="close-box">
					<a><i class="fa fa-times" style="padding-top:2.5px;"></i></a>
				</div>
				<div class="refresh-box">
					<a><i class="fa fa-refresh" aria-hidden="true" style="padding-top:2.5px;"></i></a>
				</div>
			</div>
		</div>
		<div class="media account-card col-md-5">
			<div class="media-left">
				<img src="../static/img/profile.jpg" class="media-object" style="width:60px">
				<div class="social-box">
					<img src="../static/img/fb.png" style="border-radius:5px;">
				</div>
			</div>
			<div class="media-body">
				<h4 class="media-heading" style="text-align:left;">Wendy</h4>
				<p>Linked date: 2017-03-31</p>
				<div class="close-box">
					<a><i class="fa fa-times" style="padding-top:2.5px;"></i></a>
				</div>
				<div class="refresh-box">
					<a><i class="fa fa-refresh" aria-hidden="true" style="padding-top:2.5px;"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- connection channel -->
	<div class="col col-md-12">
		<h2 class="heading-line" style="text-align:left; margin-bottom:5px;">Connection Channel</h2>
		<hr>
		<div class="connection col col-lg-3 col-md-2 col-sm-6">
			<div class="connect-box">
				<img src="../static/img/fb.png" style="border-radius:5px;">
			</div>
			<div style="padding-top:80px;padding-left:0;">
				<button class="btn" style="width: 100px;border-radius:5px;background-color:#4a6ea9;color:WHITE;">Connect</button>
			</div>
		</div>
		
		<div class="connection col col-lg-3 col-md-2 col-sm-6">
			<div class="connect-box">
				<img src="../static/img/tw.png" style="border-radius:5px;">
			</div>
			<div style="padding-top:80px;padding-left:0;">
				<button class="btn" style="width: 100px;border-radius:5px;background-color:#55acee;color:WHITE;">Connect</button>
			</div>
		</div>
		
		<div class="connection col col-lg-3 col-md-2 col-sm-6">
			<div class="connect-box">
				<img src="../static/img/re.png" style="border-radius:5px;">
			</div>
			<div style="padding-top:80px;padding-left:0;">
				<button class="btn" style="width: 100px;border-radius:5px;background-color:#ff4006;color:WHITE;">Connect</button>
			</div>
		</div>
		
		<div class="connection col col-lg-3 col-md-2 col-sm-6">
			<div class="connect-box">
				<img src="../static/img/tu.png" style="border-radius:5px;">
			</div>
			<div style="padding-top:80px;padding-left:0;">
				<button class="btn" style="width: 100px;border-radius:5px;background-color:#304e6c;color:WHITE;">Connect</button>
			</div>
		</div>
	</div>
</div>	                          
{% endblock %}