{% extends 'account-base.html' %}

{% load staticfiles %}

{% block account_block %}

<div class="row">	
	<div class="col col-md-12"><h2>Change Your Password</h2></div>
</div>

	<div class="row">
		<div class="col-md-8">
            <label>
            <font size="2" color="red">{{ message }}</font>
            </label>
		    <form role="form" action="#" method="post">
              <div class="form-group left-inner-addon">
				<span class="glyphicon glyphicon-user"></span>
				<input name="old_password" type="password" class="form-control" id="old_password" placeholder="Old Password">
		      </div>
			  <div class="form-group left-inner-addon">
				<span class="glyphicon glyphicon-user"></span>
				<input name="new_password1" type="password" class="form-control" id="new_password1" placeholder="New Password">
		      </div>
			  <div class="form-group left-inner-addon">
				<span class="glyphicon glyphicon-user"></span>
				<input name="new_password2" type="password" class="form-control" id="new_password2" placeholder="Confirm the New Password">
		      </div>


            <div class="row">
	          <div class="col-md-4">
                 <div class="form-group">
	               <label class="col-md-4 control-label"></label>
                     <button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
	             </div>
              </div>
            </div>
        </form>
        </div>
    </div>


{% endblock %}
	
