<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>Contact - Botany Template</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <!-- 
    Botany Template 
    http://www.templatemo.com/preview/templatemo_391_botany 
    -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">
	<link href="../static/css/templatemo-style.css" rel="stylesheet" type="text/css">
     <style>
        .button1 {
    background-color: black;
    color: white;
    border: 2px solid #000000;
            font-size: 16px;

}

   .button1:hover {
    background-color: #FF7F50;
    color: white;
       border: 2px solid #FF7F50;
       font-size: 16px;
}
    </style>
	<!-- HTML 5 shim for IE backwards compatibility -->
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
	<!--
	Credits
	Equal Height Columns http://www.hongkiat.com/blog/css-equal-height/ -->
</head>


<body class="templatemo_garden_bg">
	<div class="header">
		<div class="container" style="background-color: rgba(0,0,0,0);">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand scroll-top"><em>T</em>inker</a>
				</div>
				<!--/.navbar-header-->
				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#" class="scroll-link" data-id="contact-us" >Username</a></li>
					</ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<!--/.navbar-->
		</div>
		<!--/.container-->
	</div>

	<div class="parallax-content baner-content col-lg-10" id="main_container" style="padding-top:100px;">
		<div class="container transparent-container" id="contact">
            <!-- <button class="button button1"><span class="glyphicon glyphicon-home"></span>My Home</button> -->
			<div class="row col-wrap">
				<div id="left_container" class="col col-md-3 col-sm-12">
					<div class="templatemo_logo">
						<a href="#"><img src="../static/images/templatemo_logo.png" alt="Botany Theme"></a>
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
                            <li><a href="/social_analytics/manage1">Change Password</a></li>
                            <li><a href="/social_analytics/manage3">Authorized Social Media</a></li>
							<li><a href="/social_analytics/manage2">Manage My Details</a></li>
						</ul>
					</nav> <!-- nav -->
					<!-- <div> -->
						<!-- <a href="#"><img src="../static/img/fb.png" alt="Like us on Facebook"></a> -->
						<!-- <a href="#"><img src="../static/img/tw.png" alt="Follow us on Twitter"></a> -->
					<!-- </div> -->
				</div>
				<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row"><div class="col col-md-12"><h2>Update Your Details</h2></div></div>
					<form role="form" action="#" method="post">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-user"></span>
									<input name="Firstname" type="text" class="form-control" id="input_Firstname" placeholder="First Name" >
							  </div>
								<div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-user"></span>
									<input name="Lastname" type="text" class="form-control" id="input_Lastname" placeholder="Last Name">
							  </div>
								<div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-envelope"></span>
									<input name="email" type="email" class="form-control" id="input_email" placeholder="Email Address">
								</div>
								<div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-earphone"></span>
									<input name="phone" type="tel" class="form-control" id="input_tel" placeholder="Phone">
								</div>
                                <div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-home"></span>
									<input name="Address" type="text" class="form-control" id="input_Lastname" placeholder="Address">
							  </div>
                                <div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-home"></span>
									<input name="City" type="text" class="form-control" id="input_Lastname" placeholder="City">
							  </div>
                                <div class="form-group left-inner-addon">
                                    <div class="col-md-18 selectContainer">
									<select name="state" class="form-control selectpicker" >
                                        <option value=" " >Please select your state</option>
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option >Arizona</option>
                                        <option >Arkansas</option>
                                        <option >California</option>
                                        <option >Colorado</option>
                                        <option >Connecticut</option>
                                        <option >Delaware</option>
                                        <option >District of Columbia</option>
                                        <option> Florida</option>
                                        <option >Georgia</option>
                                        <option >Hawaii</option>
                                        <option >daho</option>
                                        <option >Illinois</option>
                                        <option >Indiana</option>
                                        <option >Iowa</option>
                                        <option> Kansas</option>
                                        <option >Kentucky</option>
                                        <option >Louisiana</option>
                                        <option>Maine</option>
                                        <option >Maryland</option>
                                        <option> Mass</option>
                                        <option >Michigan</option>
                                        <option >Minnesota</option>
                                        <option>Mississippi</option>
                                        <option>Missouri</option>
                                        <option>Montana</option>
                                        <option>Nebraska</option>
                                        <option>Nevada</option>
                                        <option>New Hampshire</option>
                                        <option>New Jersey</option>
                                        <option>New Mexico</option>
                                        <option>New York</option>
                                        <option>North Carolina</option>
                                        <option>North Dakota</option>
                                        <option>Ohio</option>
                                        <option>Oklahoma</option>
                                        <option>Oregon</option>
                                        <option>Pennsylvania</option>
                                        <option>Rhode Island</option>
                                        <option>South Carolina</option>
                                        <option>South Dakota</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option> Uttah</option>
                                        <option>Vermont</option>
                                        <option>Virginia</option>
                                        <option >Washington</option>
                                        <option >West Virginia</option>
                                        <option>Wisconsin</option>
                                        <option >Wyoming</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group left-inner-addon">
									<span class="glyphicon glyphicon-home"></span>
									<input name="Zip Code" type="text" class="form-control" id="input_Lastname" placeholder="Zip Code">
							  </div>
                                <div class="form-group left-inner-addon">
                                      <label>
                                         <font size="3" color="White">Are you Male or Female?</font>
                                     </label>
                              <div class="radio">
                                     <label>
                                         <input type="radio" name="hosting" value="Male" />
                                         <font size="3" color="White">Male</font>
                                     </label>
                                 </div>
                              <div class="radio">
                                     <label>
                                         <input type="radio" name="hosting" value="Female" />
                                          <font size="3" color="White">FeMale</font>
                                     </label>

							  </div>
							</div>
							<div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
                                </div>
                            </div>
						</div>
                        </div><!-- row -->
					</form>



				</div>
			</div>

			<footer class="row credit">
				<div class="col col-md-12">
					<div id="templatemo_footer">
						Copyright © 2084 <a href="#">Company Name</a>
					</div>
				</div>
			</footer>

		</div>
	</div>
    <!-- templatemo 391 botany -->
</body>
</html>