{% extends 'account-base.html' %}

{% load staticfiles %}

{% block account_block %}

<div class="row">	
	<div class="col col-md-12"><h2>Change Your Password</h2></div>
</div>

	<div class="row">
		<div class="col-md-8">
		<form role="form" action="#" method="post">
			<div class="form-group left-inner-addon">
				<span class="glyphicon glyphicon-user"></span>
				<input name="password" type="text" class="form-control" id="input_password" placeholder="New Password">
		  </div>
			<div class="form-group left-inner-addon">
				<span class="glyphicon glyphicon-user"></span>
				<input name="password" type="text" class="form-control" id="input_password" placeholder="Confirm the New Password">
		  </div>
		  </form>
		</div>
	</div>

	<div class="row">
	<div class="col-md-4">
<div class="form-group">
	<label class="col-md-4 control-label"></label>
	
		<button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
	</div>
</div>
</div>

{% endblock %}
	
