{% extends 'account-base.html' %}

{% load staticfiles %}

{% block account_block %}
<div class="row">
	<div class="col col-md-12">
		<h2>Authorized Social Media</h2>

	</div>
</div>

<article class="row">
	<div class="col col-md-4">
		<h4>Duis sed odio</h4>
		<p class="text-center"><i class="fa fa-smile-o fa-5x"></i></p>							
		<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
	</div>	
	<div class="col col-md-4">
		<h4>Proin gravida nibh vel</h4>
		<p class="text-center"><i class="fa fa-leaf fa-5x"></i></p>
		<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
	</div>
	<div class="col col-md-4">
		<h4>Lorem Ipsum</h4>
		<p class="text-center"><i class="fa fa-camera-retro fa-5x"></i></p>
		<p>Etiam pharetra, erat sed fermentum feugiat. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
	</div>				            
</article> 		                          
{% endblock %}