<!-- Modifier: Chenxi Hou -->
<!-- 20/04/2018 -->
<!--
Modified from  Pack templatemo 418
http://www.templatemo.com/preview/templatemo_418_form_pack
-->

{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}

<div class="container">
    <!-- Title -->
    <div class="col-md-12 padding-top-15">
        <h1 class="margin-bottom-15">Reset Password</h1>
        <div class="form-horizontal Hou-forgot-password-form Hou-container" role="form" action="#" method="post">{% csrf_token %}
            <!-- Description -->
            <div class="form-group">
                <div class="col-md-12 text-left padding-left-35">
                    Please enter your new password twice so we can verify you typed it in correctly.
                </div>
            </div>
            <!-- Enter new password -->
            <div class="form-group">
                <div class="col-md-12 color-black text-left padding-left-35">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1" class="color-white">New password:</label>
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 color-black text-left padding-left-35">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2" class="color-white">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
            </div>
            <!-- Submit button -->
            <div class="button-left">
                <input type="submit" value="Submit" class="btn btn-danger">
            </div>
        </div>
    </div>
</div>
{% endblock %}