<!-- Modifier: Chenxi Hou -->
<!-- 20/04/2018 -->
<!--
Modified from  Pack templatemo 418
http://www.templatemo.com/preview/templatemo_418_form_pack
-->

{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}

<div class="container">
    <!-- Title -->
    <div class="col-md-12 padding-top-15">
        <h1 class="margin-bottom-15">Password Reset Complete</h1>
        <form class="form-horizontal Hou-forgot-password-form Hou-container" role="form" action="#" method="post">
            <!-- Description -->
            <div class="form-group">
                <div class="col-md-12">
                    Your password has been set. You may go ahead and log in now.
                </div>
            </div>
            <!-- Back to login -->
            <div class="form-group left-shift">
                <div class="col-md-12">
                    <p class="font-color padding-top-15">Go back to<a href={% url "login" %}> login</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}