{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
	<div class="container">
		<!-- Title -->
		 <div class="col-md-12">
			 <h1 class="margin-bottom-15">Sign up to MH</h1>
			 <!-- Term and Policy -->
			 <h3 class="margin-bottom-15">By signing up, you agree to MH's <a href="javascript:" data-toggle="modal" data-target="">Terms of Service</a> and <a href="">Privacy Policy.</a></h3>
			 <form class="form-horizontal Hou-create-account Hou-container" role="form" action="#" method="post">
				{% csrf_token %}
				<!--{% for field in form %}-->
				  <!--<p>-->
					<!--{{ field.label_tag }}<br>-->
					<!--{{ field }}-->
					<!--{% if field.help_text %}-->
					  <!--<small style="color: grey">{{ field.help_text }}</small>-->
					<!--{% endif %}-->
					<!--{% for error in field.errors %}-->
					  <!--<p style="color: red">{{ error }}</p>-->
					<!--{% endfor %}-->
				  <!--</p>-->
				<!--{% endfor %}-->
				<!--<button type="submit">Sign up</button>-->
				  <div class="form-inner">
					  <!-- Fisrt name and last name  -->
					  <div class="form-group">
						  <div class="col-md-6">
							  <div class="control-wrapper">
								  <label for="first_name" class="control-label fa-label"><i class="fa fa-star fa-medium"></i></label>
								  <input type="text" class="form-control" id="first_name" placeholder="First Name">
							  </div>
						  </div>
						  <div class="col-md-6">
							  <div class="control-wrapper">
								  <label for="last_name" class="control-label fa-label"><i class="fa fa-star fa-medium"></i></label>
								  <input type="text" class="form-control" id="last_name" placeholder="Last Name">
							  </div>
						  </div>
					  </div>
					  <!-- Email  -->
					  <div class="form-group">
						  <div class="col-md-12">
							  <div class="control-wrapper">
								  <label for="username" class="control-label fa-label"><i class="fa fa-envelope fa-medium"></i></label>
							 	 <input type="email" class="form-control" id="email" placeholder="Email">
							  </div>
						  </div>
					  </div>
					  <!-- Username  -->
					  <div class="form-group">
						 <div class="col-md-12">
							 <div class="control-wrapper">
								 <label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
								 <input type="text" class="form-control" id="username" placeholder="Username">
							 </div>
						 </div>
					  </div>
					  <!-- Password  -->
					  <div class="form-group">
						  <div class="col-md-6">
							  <div class="control-wrapper">
								  <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
								  <input type="password" class="form-control" id="password" placeholder="Password">
							  </div>
						  </div>
						  <div class="col-md-6">
							  <div class="control-wrapper">
								  <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
								  <input type="password" class="form-control" id="password_confirm" placeholder="Confirm Password">
							  </div>
						  </div>
					  </div>
					  <!-- Submit button and Already have an account  -->
					  <div class="form-group left-shift">
						  <div class="col-md-12">
							  <input type="submit" value="Sign up" class="btn btn-info">
							  <p class="pull-right font-color padding-top-15">Already have an account?<a href={% url "login" %}> Login</a>Login</a></p>
						  </div>
					  </div>
					  <!-- Sign up with social media  -->
					  <div class="Hou-demonstration text-align-center">
						  <label class="">You can also sign up with your social media account.</label>
						  <div class="other-sign-in">
							  <a class="btn btn-block btn-social btn-facebook margin-bottom-15" href="{% url 'social:begin' 'facebook' %}">
								  <i class="fa fa-facebook"></i> Sign up with Facebook
							  </a>
							  <a class="btn btn-block btn-social btn-twitter margin-bottom-15" href="{% url 'social:begin' 'twitter' %}">
								  <i class="fa fa-twitter"></i> Sign up with Twitter
							  </a>
							  <a class="btn btn-block btn-social btn-reddit margin-bottom-15">
								  <i class="fa fa-reddit"></i> Sign up with Reddit
							  </a>
							  <a class="btn btn-block btn-social btn-tumblr margin-bottom-15">
								  <i class="fa fa-tumblr"></i> Sign up with Tumblr
							  </a>
							  <a class="btn btn-block btn-social btn-google-plus">
								  <i class="fa fa-google-plus"></i> Sign up with Google
							  </a>
						  </div>
					  </div>
				  </div>
			 </form>
		 </div>
	</div>
{% endblock %}