{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<style>
.xin_container{ 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFFFF;
	font-size:20px
}
.xin_containerb { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFFFF;
	font-size:20px
}
.smallxin_container { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFF33
}
.smallxin_containerb { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFF33
}
</style>

<ul class="form" style="float:left; margin-top: 50px;">
	<li><a class="profile" href="#" style="background-image:url(../static/img/fb.png); background-size:contain;"></a></li>
	<li><a class="messages" href={% url 'social_network' %} style="background-image:url(../static/img/tw.png); background-size:contain;"></a></li>
	<li><a class="settings" href={% url 'keywords' %} style="background-image:url(../static/img/re.png); background-size:contain;"></a></li>
	<li><a class="logout" href={% url 'tone_analysis' %} style="background-image:url(../static/img/tu.png); background-size:contain;"></a></li>
</ul>

            <div class="row">
                    <div class="row">

					   <div class=" xin_container" >You are likely to : </div>
		               {% for foo in likely %}
		                   <div class=" smallxin_container" >{{ foo }}</div>
		               {% endfor %}

                    </div>
            <div/>


            <div class="row">
                    <div class="row">
					   <div class=" xin_containerb" >You are unlikely to : </div>
		               {% for foo in unlikely %}
		                   <div class=" smallxin_containerb" >{{ foo }}</div>
		               {% endfor %}

                    </div>
            <div/>


<!-- vertical menu -->
<div class="col-lg-2" id="media-nav">

</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px;">
	<div class="container nav-box col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
		<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav bottom-nav">
			<li><a href={% url 'data' %}>Needs</a></li>
			<li><a href={% url 'user_values' %}>Values</a></li>
			<li><a href={% url 'user_personality' %}>Personality</a></li>
			<li><a href="#">Behavior</a></li>
			<li><a href="#">Preferences</a></li>
		  </ul>
		</div>
	</div>
</nav>
{% endblock %}