{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<style>
.xin_container{ 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFFFF;
	font-size:20px
}
.xin_containerb { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFFFF;
	font-size:20px
}
.smallxin_container { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFF33
}
.smallxin_containerb { 
	width: 500px; 
	height:40px;
	text-align: left; 
	position:relative; 
	left:450px;
	padding-bottom: 5px;
	color:#FFFF33
}
</style>

<div id="navbar-test">
	<ul class="form" style="float:left; margin-top: 50px;">
		<li class="data-leftnav"><a style="background: #efefef; border-left:6px solid RED; color: BLACK;" href={% url 'data' %}>Personality</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'tone_analysis' %}>Tone Analysis</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'keywords' %}>Words Use</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'social_network' %}>Social Network</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'time_heatmap' %}>Life Pattern</a></li>
	</ul>
</div>

            <div class="row">
                    <div class="row">

					   <div class=" xin_container" >You are likely to : </div>
		               {% for foo in likely %}
		                   <div class=" smallxin_container" >{{ foo }}</div>
		               {% endfor %}

                    </div>
            </div>


            <div class="row">
                    <div class="row">
					   <div class=" xin_containerb" >You are unlikely to : </div>
		               {% for foo in unlikely %}
		                   <div class=" smallxin_containerb" >{{ foo }}</div>
		               {% endfor %}

                    </div>
            </div>


<!-- vertical menu -->
<div class="col-lg-2" id="media-nav">

</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px;">
	<div class="container nav-box col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
		<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav bottom-nav">
			<li><a href={% url 'data' %}>Needs</a></li>
			<li><a href={% url 'user_values' %}>Values</a></li>
			<li><a href={% url 'user_personality' %}>Personality</a></li>
			<li><a href="#">Behavior</a></li>
			<li><a href="#">Preferences</a></li>
		  </ul>
		</div>
	</div>
</nav>
{% endblock %}