{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<div id="navbar-test">
	<ul class="form" style="float:left; margin-top: 50px;">
		<li><a style="background: #efefef; border-left:6px solid RED; color: BLACK;" class="active" href={% url 'data' %}>Personality</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'tone_analysis' %}>Tone Analysis</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'keywords' %}>Words Use</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'social_network' %}>Social Network</a></li>
		<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'time_heatmap' %}>Life Pattern</a></li>
	</ul>
</div>

<div>
	<div class="radarChart" id="needs"></div>
</div>
<!-- vertical menu -->
<div class="col-lg-2" id="media-nav">
	
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px;">
	<div class="container nav-box col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
		<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav bottom-nav">
			<li><a href={% url 'data' %}>Needs</a></li>
			<li><a href={% url 'user_values' %}>Values</a></li>
			<li><a href={% url 'user_personality' %}>Personality</a></li>
			<li><a href="#">Behavior</a></li>
			<li><a href={% url 'user_preferences' %}>Preferences</a></li>
		  </ul>
		</div>
	</div>
</nav>

<script src="../static/js/radarChart.js"></script>
<script>
      
/* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

	var margin = {top: 80, right: 100, bottom: 100, left: 100},
		width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
		height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
			
	{% autoescape off %}
	var data = [{{radarData}}];
	{% endautoescape %}

	var color = d3.scale.ordinal()
		.range(["#EDC951","#CC333F","#00A0B0"]);
		
	var radarChartOptions = {
	  w: 300,
	  h: 300,
	  margin: margin,
	  maxValue: 1.0,
	  levels: 5,
	  roundStrokes: true,
	  color: color
	};
	
	//Call function to draw the Radar chart
	RadarChart(".radarChart", data, radarChartOptions);
	

</script>
{% endblock %}