{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<style>
	div.tooltip {	
		position: absolute;			
		text-align: center;			
		width: 60px;					
		height: 28px;					
		padding: 2px;				
		font: 12px sans-serif;		
		background: lightsteelblue;	
		border: 0px;		
		border-radius: 8px;			
		pointer-events: none;			
	}

</style>

<div class="row">
	<div id="navbar-test" class="col-md-2">
		<ul class="form" style="float:left; margin-top: 50px;">
			<li><a style="background: #efefef; border-left:6px solid RED; color: BLACK;" class="active" href={% url 'data' %}>Personality</a></li>
			<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'tone_analysis' %}>Tone Analysis</a></li>
			<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'keywords' %}>Words Use</a></li>
			<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'social_network' %}>Social Network</a></li>
			<li class="data-leftnav"><a class="data-leftnav-link" href={% url 'time_heatmap' %}>Life Pattern</a></li>
		</ul>
	</div>
	<h4><i>Values: describes motivating factors that influence a person's decision making, includes five values.</i></h4>
	<div class="col-md-7" style="margin-top:-50px;">
		<div class="radarChart" id="needs"></div>
	</div>
	<!-- vertical menu -->
	<div style="width: 400px; float:right; margin-top: -400px;">
		<div class="model_info"></div>
		<div class="value_div"></div>
	</div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bottom-box" style="border: 0px;">
	<div class="container nav-box col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="background-color:#2F4F4F; margin-top: 20px; margin-bottom: 20px;">
		<div class="collapse navbar-collapse bottom-nav" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav bottom-nav">
			<li><a style="color: WHITE;" href={% url 'data' %}>Needs</a></li>
			<li><a  style="color: RED; font-weight: bold;" href={% url 'user_values' %}>Values</a></li>
			<li><a style="color: WHITE;" href={% url 'user_personality' %}>Personality</a></li>
			<li><a style="color: WHITE;" href={% url 'user_preferences' %}>Preferences</a></li>
		  </ul>
		</div>
	</div>
</nav>

<script src="../static/js/radarChart.js"></script>
<script>
      
/* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

	var margin = {top: 80, right: 100, bottom: 100, left: 100},
		width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
		height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
			
	{% autoescape off %}
	var data = [{{radarData}}];
	{% endautoescape %}

	var color = d3.scale.ordinal()
		.range(["#EDC951","#CC333F","#00A0B0"]);
		
	var radarChartOptions = {
	  w: 300,
	  h: 300,
	  margin: margin,
	  maxValue: 1.0,
	  levels: 5,
	  roundStrokes: true,
	  color: color
	};
	
	//Call function to draw the Radar chart
	RadarChart(".radarChart", data, radarChartOptions, ".model_info", ".value_div", true);
	

</script>
{% endblock %}